@media screen and (min-width: 480px){
    header {
        display: flex;
        justify-content: space-around;
    }

    header nav ul{
        font-size: 0.95em;
        margin-right: -10px;
    }

    header h1{
        font-size: 2.1em;
        margin-left: -5px;
    }

    header nav ul a{
        color: rgb(182, 181, 181);
        text-decoration: none;
        margin-right: 5px;
    }

    /*************************************/

    fieldset#campo2 #div-caixa .caixa {
    text-align: center;
    padding: 6vw;
    border: 1px solid rgb(226, 226, 226);
    border-radius: 4px;
    height: 20vh;
    width: 45%;
}
}

@media screen and (min-width: 769px) {

    /*Formulário Informações*/

    fieldset#campo1 input.style-input{
        height: 4.2em;
        width: 80%;
    }

    fieldset#campo1 input.style-input::placeholder {
    font-size: 1em;
    padding: 8px;
}

    fieldset#campo1 label{
    color: #777;
    font-size: 1.1em;
}

fieldset#campo1 h2 {
    font-size: 1.8em;
}

/*****************************************/

fieldset#campo2 h2 {
    color: rgb(67, 67, 67);
    text-align: center;
    margin-bottom: 0.8em;
    font-weight: 600;
    font-size: 1.8em;
}

fieldset#campo2 p {
    color: #777;
    font-size: 1.2em;
    margin-bottom: 5px;
}

fieldset#campo2 #div-caixa .caixa {
    text-align: center;
    padding: 6vw;
    border: 1px solid rgb(226, 226, 226);
    border-radius: 4px;
    height: 25vh;
    width: 45%;
}

fieldset#campo2 #div-caixa .caixa strong {
    font-size: 4em;
}

fieldset#campo2 #div-caixa .caixa p {
    font-size: 1.4em;
    margin-top: 15px;
}

/*******************************************/

fieldset#campo3 label {
    font-size: 1.2em;
}

fieldset#campo3 input.check {
    height: 1.4em;
    width: 1.4em;
}

fieldset#campo3 #botao {
    font-size: 1.3em;
}
}